.icon-list {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    li {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2px;
      margin: 8px;
      cursor: pointer;
      i.iconfont {
        font-size: 75px;
      }
    }
  }
}
