.img-upload-container {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
    overflow: hidden;
    .ant-form-item-control,
    .ant-form-item-control-input,
    .ant-upload-select-picture {
      width: 100%;
      height: 100%;
      text-align: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  